{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinopark</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">🎬 Kinopark</a>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
